@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html{
    background-color: #161819 !important;
    color: white !important;
}

.custom-button{
    background-color: #2ce3a6;
    color: black;
    border: none;
    @apply px-4 py-2 rounded-md
}
 
.fpl-purple-btn {
    background-color: #7f56f1;
    color: black;
    border: none;
    @apply px-4 py-2 rounded-md
  }